.vbb-main-nav-bar {
  margin-top: 1rem;

  &__logo-row {
    margin-bottom: 1rem;
  }

  &__links {
    margin-bottom: 1rem;
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    text-align: center;
    background-color: #da7472;
    width: 100%;

    &:hover {
      background-color: #e59b98;
    }
  }
}
