.vbb-main-nav-bar {
  margin-top: 2rem;

  &__button {
    p{
    text-align: center;
    }
    background-color: #ffc3c8;
    vertical-align: middle;

    :hover {
      background-color: #ffc4d4;
    }
  }
}
